<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": ["LocalBusiness", "HomeAndConstructionBusiness"],
    "name": "{{ site.title }}",
    "description": "{{ site.description }}",
    "url": "{{ site.url }}",
    "telephone": "{{ site.phone }}",
    "email": "{{ site.email }}",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Weymouth",
      "addressRegion": "Dorset",
      "addressCountry": "GB"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 50.6097,
      "longitude": -2.4567
    },
    "areaServed": [
      { "@type": "AdministrativeArea", "name": "Dorset" },
      { "@type": "City", "name": "Weymouth" },
      { "@type": "City", "name": "Dorchester" },
      { "@type": "City", "name": "Bournemouth" },
      { "@type": "City", "name": "Poole" },
      { "@type": "City", "name": "Portland" },
      { "@type": "City", "name": "Bridport" },
      { "@type": "City", "name": "Wareham" },
      { "@type": "City", "name": "Sherborne" },
      { "@type": "City", "name": "Blandford Forum" },
      { "@type": "City", "name": "Yeovil" },
      { "@type": "City", "name": "Exeter" },
      { "@type": "City", "name": "Honiton" }
    ],
    "hasOfferCatalog": {
      "@type": "OfferCatalog",
      "name": "Services",
      "itemListElement": [
        { "@type": "Offer", "itemOffered": { "@type": "Service", "name": "Home Staging" } },
        { "@type": "Offer", "itemOffered": { "@type": "Service", "name": "Interior Design" } }
      ]
    },
    "sameAs": [
      "https://www.facebook.com/{{ site.facebook_username }}",
      "https://www.instagram.com/{{ site.instagram_username }}"
    ]
  }
  </script>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}">

  <link rel="preload" href="{{ '/assets/fonts/the-seasons-regular/the-seasons-regular.ttf' | relative_url }}" as="font" type="font/ttf" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
